Repository PI-SmartTask/SmartTask, pull requests merged in 2025-05, with the labels that each got.

#112 Debug/employee team
  api/src/main/java/smartask/api/ApiApplication.java
  api/src/main/java/smartask/api/controllers/TeamController.java
  api/src/main/java/smartask/api/models/Employee.java
  api/src/main/java/smartask/api/models/Team.java
  api/src/main/java/smartask/api/models/requests/AddEmployeesToTeamRequest.java
  api/src/main/java/smartask/api/repositories/TeamRepository.java
  api/src/main/java/smartask/api/services/EmployeeService.java
  api/src/main/java/smartask/api/services/TeamService.java
Labels: bug, feature, back-end, api

#113 Mr. Amaro minimuns
  algorithm/ILP.py
  algorithm/calendario4.csv
  algorithm/minimuns.csv
Labels: enhancement, algorithm

#122 Feature/fetch templates and others info in python modules
  api/src/main/java/smartask/api/models/ReferenceTemplate.java
  api/src/main/java/smartask/api/models/requests/ScheduleRequest.java
  api/src/main/java/smartask/api/services/ReferenceService.java
  minimuns.csv
  modules/MongoDBClient.py
  modules/RabbitMQClient.py
Labels: bug, enhancement, feature, back-end

#124 Feature/fetch templates and others info in python modules
  api/src/main/java/smartask/api/models/VacationTemplate.java
  api/src/main/java/smartask/api/services/VacationService.java
  modules/RabbitMQClient.py
  modules/TaskManager.py
Labels: bug, enhancement, back-end, api

#141 Feature/implement reset definition
  api/src/main/java/smartask/api/controllers/ClearAndResetController.java
  api/src/main/java/smartask/api/controllers/EmployeesController.java
  api/src/main/java/smartask/api/controllers/ReferenceController.java
  api/src/main/java/smartask/api/controllers/SchedulesController.java
  api/src/main/java/smartask/api/controllers/VacationController.java
  api/src/main/java/smartask/api/services/ClearAndResetService.java
  api/src/main/java/smartask/api/services/EmployeeService.java
  api/src/main/java/smartask/api/services/ReferenceService.java
  api/src/main/java/smartask/api/services/SchedulesService.java
  api/src/main/java/smartask/api/services/VacationService.java
Labels: enhancement, feature, back-end

#146 Integração inicial do frontend com o ADP
  api/src/main/java/smartask/api/ApiApplication.java
  api/src/main/java/smartask/api/controllers/ClearAndResetController.java
  api/src/main/java/smartask/api/controllers/EmployeesController.java
  api/src/main/java/smartask/api/controllers/ReferenceController.java
  api/src/main/java/smartask/api/controllers/SchedulesController.java
  api/src/main/java/smartask/api/controllers/TeamController.java
  api/src/main/java/smartask/api/controllers/VacationController.java
  api/src/main/java/smartask/api/models/Employee.java
  api/src/main/java/smartask/api/models/Schedule.java
  api/src/main/java/smartask/api/repositories/TeamRepository.java
  api/src/main/java/smartask/api/services/ClearAndResetService.java
  api/src/main/java/smartask/api/services/EmployeeService.java
  api/src/main/java/smartask/api/services/ReferenceService.java
  api/src/main/java/smartask/api/services/SchedulesService.java
  api/src/main/java/smartask/api/services/TeamService.java
  api/src/main/java/smartask/api/services/VacationService.java
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/Manager/Calender.jsx
  frontend/src/Manager/CompareCalendar.jsx
  frontend/src/Manager/Employer.jsx
  frontend/src/Manager/GenerateVacations.jsx
  frontend/src/Manager/ImportMinimums.jsx
  frontend/src/Manager/ListCalendar.jsx
  frontend/src/Manager/Teams.jsx
  frontend/src/components/ProtectedRoute.jsx
  frontend/src/components/manager/CalendarTable.jsx
  frontend/src/components/manager/KPIReport.jsx
  frontend/src/components/manager/LegendBox.jsx
  frontend/src/components/manager/MetadataInfo.jsx
  frontend/src/components/manager/MinimumsTemplate.jsx
  frontend/src/components/manager/VacationsTemplate.jsx
  modules/MongoDBClient.py
  modules/RabbitMQClient.py
  modules/horarioReferencia.csv
  package-lock.json
  reset-api
  run-app.sh
  vacationTemplate.csv
Labels: feature, front-end, back-end, api

#151 Improve algorithm efficiency for faster solving
  algorithm/ILP.py
  api/src/main/java/smartask/api/controllers/EmployeesController.java
  api/src/main/java/smartask/api/models/Employee.java
  api/src/main/java/smartask/api/repositories/TaskStatusRepository.java
  api/src/main/java/smartask/api/services/ClearAndResetService.java
  api/src/main/java/smartask/api/services/EmployeeService.java
  api/src/main/java/smartask/api/services/SchedulesService.java
  modules/RabbitMQClient.py
  modules/TaskManager.py
Labels: front-end, algorithm, api

#160 Feature/finalize infraesctructare configuration
  Dockerfile.modules
  Makefile
  README.md
  api/src/main/java/smartask/api/services/ComparisonNotifier.java
  calendario_turnos.csv
  data/Schedule.csv
  data/Schedule2.csv
  data/VacationTemplate.csv
  data/VacationTemplateAlternative.csv
  data/ex.csv
  data/ex1.csv
  data/filled_schedule.csv
  data/filled_schedule2.csv
  data/minimuns.csv
  docker-compose.yml
  run-app.sh
  vacationTemplate.csv
  vacationTemplate.json
  vacations.json
Labels: bug, back-end, api, Infrastructure
